.errorBox {
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid #ced4da;
    width: 40%;
    background-color: #DCDCDC;
}

.errorColumn {
    margin-top: 7px;
    margin-left: 3px;
    position: absolute;
    text-align: right;
    width: 60px;
    font-weight: 100;
    vertical-align: middle;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    color: red;
}

.errorBody {
    padding-left: 80px !important;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    color: black;
}