.editor {
    counter-reset: line;
    border: 1px solid #ced4da;
    width: 50%;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.editor #codeArea {
    outline: none;
    border: none;
    resize: none;
    padding-left: 60px !important;
    line-height: 19px;
    overflow: hidden;
    position: absolute;
}

.editor .editorLineNumber {
    height: 19px;
}

.editor .lineNumberColumn {
    margin-top: 3px;
    position: absolute;
    left: 0px;
    color: #cccccc;
    text-align: right;
    width: 40px;
    font-weight: 100;
    vertical-align: middle;
}
